body {
    display: flex;
    justify-content: flex-start;
}

button {
    background-color: #20e15a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 5%;
}

#countrydiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}

button:hover {

    background-color: rgb(227, 227, 63);
    color: white;

}

button:active {

    background-color: rgba(252, 109, 0, 0.986);
    color: rgba(14, 11, 11, 0.885);

}

.clicked {

    font-style: italic;
}