button {
    background-color: #20e15a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 5%;
}

button:hover {

    background-color: rgb(227, 227, 63);
    color: white;

}

button:active {

    background-color: rgba(252, 109, 0, 0.986);
    color: rgba(14, 11, 11, 0.885);

}

h2 {

    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;

}

.input {
    text-align: center;
}

body {
    background: #000
}

.card {
    border: none;
    height: 320px
}

.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.btn {
    height: 50px
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}