button {
    background-color: #ffa705;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 5%;
}

button:hover {

    background-color: rgb(227, 227, 63);
    color: white;

}


button:active {

    background-color: rgba(252, 109, 0, 0.986);
    color: rgba(14, 11, 11, 0.885);

}



table {
    border: 20px solid rgb(145, 107, 20);
    margin: 25px 0;
    font-size: 20px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

}

td {
    margin: 0px;
    padding: 5px;
    text-align: center;
    border: 10px solid #133436;
}


tr {
    margin: 0px;
    padding: 5px;
    text-align: center;
    border: 20px solid #2ba2a8;
}

img {

    width: 150px;
    height: 150px;

}